body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #E7D283;
    color: #333;
    overflow-x: hidden;
    
}

header {
    background: linear-gradient(90deg, #EB5A3C,#cc6e62);
    color: white;
    padding: 1.25em;
    text-align: center;
    animation: slideIn 1s ease-in-out;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Cormorant", serif;
}

nav {
    display: flex;
    justify-content: center;
    background: #DF9755;
    font-family: "Cormorant", serif;
    border: 0.2em solid antiquewhite;
    float: left;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0.625em 1.25em;
    display: block;
    transition: background 2s;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 2s ease;
}
.érdekességek{
   
   color: #EDF4C2;background-color: #af4949;border-radius: 5%;text-shadow: 2px 2px 4px #333;
}
.Cim1{
    color: #EDF4C2;background-color:#DF9755;border-radius: 5%;text-shadow: 4px 4px 4px #333;
    text-align: center;
}

nav li {
    position: relative;
}
nav a:hover {
    background:  #EB5A3C;
    transform: scale(1.5);
}

nav ul ul {
    display: none;
    position: absolute;
    background:  #EB5A3C;
    top: 100%;
    left: 0;
    flex-direction: column;
}

nav li:hover > ul {
    display: flex;
}
nav ul li:hover .dropdown {
    display: block; 
} 
.dropdown li {
    border-top: 1px solid #555;
    justify-content: center;
}

.dropdown li a {
    background-color: gold;
    padding: 0.625rem;
    border: 0.2em solid red;
    text-align: center;
    color: #250404;
}
.háttér{
    background-image: url(R.jpg);
    opacity: 0.9;
}

.dropdown li a:hover {
    background: linear-gradient(90deg, gold, #EB5A3C);
    border: 0.2em solid #E7D283;
    border-radius: 10%;
    text-align: center;
    color: rgb(26, 10, 10);
    
}
.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
    width: 100vw; 
    height: 100vh; 
    margin: 0 auto; 
}

.video-item iframe {
    width: 100%; 
    height: 100%; 
    border: 0.125em solid #EB5A3C; 
    box-shadow:0 0 1em rgb(0,0,0) ;
}




main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25em;
    padding: 1.25em;
    font-family: "Cormorant", serif;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625em;
}

.gallery img {
    width: calc(33.333% - 0.625em);
    height: auto;
}

footer {
    background: linear-gradient(45deg,#E7D283, #ffd84a);
    color: rgb(206, 17, 17);
    text-align: center;
    padding: 0.625em;
    font-family: "Cormorant", serif;
    border: 0.1875em dotted red;
    box-shadow: 0 0 1em rgb(0,0,0);
    
}

table {
    border-collapse: collapse;
    width: 75%;
    background-color: rgb(230, 208, 208);
    font-size: 1.5em;
    font-family: "Cormorant", serif;
}

table th, table td {
    border: 0.1875em solid black;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
    
}
.alhh {
    text-align: center;
    color: #EDF4C2;background-color:#DF9755;border-radius: 5%;text-shadow: 4px 4px 4px #333;
}


.alla > li {
    margin: 0.625rem 0;
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.313rem rgba(0, 0, 0);
    background:linear-gradient(90deg,#EB5A3C,red) ;
    color: white;
    text-align: bold;
}

.alla > li > ul > li {
    background-color: rgb(250, 90, 32);
    color:white;
    
}

.alla > li > ul > ul > li {
    background-color: #ff9d34;
    color: white;
}

.alla > li > ul > ul > ul > li {
    background-color: #e97a1e;
    color: white;
}
aside{
    background-color:#EDF4C2;
    padding: 1.25em;
    border-radius: 0.625em;
    border: 0.1875em dotted red;
}
main{
    box-shadow: 0 0 1em rgb(0,0,0);
}
.item {
    display: flex;
    align-items: center;
    gap: 0.938rem; 
    margin-bottom: 1.25rem;
}

.item img {
    width: 9.375rem; 
    height: auto;
    border-radius: 0.625rem; 
}

.item div {
    flex: 1;
}
aside,section{box-shadow: 0 0 1em rgb(0,0,0);}
aside h3 {
    text-align: center;

}
table img{

width: 10%;
height: 10%;
}

section{
    background-color:#EDF4C2;
    padding: 1.25em;
    border-radius: 0.625em;
    font-family: "Cormorant", serif;
    border: 0.1875em dotted red;
    
}

.keptur{
    width: 50%;
    height: auto;
    border: 0.1875em solid #af4949;
    border-radius: 25% 0% 25% 0%;
    box-shadow: 0 0 1em rgb(0,0,0);
    padding: auto;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
table tr:first-child{background-color: #EB5A3C;color: aliceblue;}
table tr:nth-child(2){background-color: #DF9755;color: #333;border: 2px solid #af4949;}
table tr td{
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    padding: auto;
    
}
.center{
    margin-left: auto;
    margin-right: auto;

}
.kep{
    width: 100%;
}
section h2{
    text-align: center;
}
aside p{
    text-align: center;
}
aside img{ 
margin: auto;
height: 50%;
}
.fontos{color: #EDF4C2;background-color: #af4949;border-radius: 1%;text-shadow: 2px 2px 4px #333;}
.cimsor{color: #EDF4C2;text-shadow: 2px 2px 4px gold;}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .gallery img {
        width: calc(50% - 0.625em);
    }
}

@media (max-width: 480px) {
    .gallery img {
        width: 100%;
    }
}
